<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<title>A Cruel Angels Thesis Tabs</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<h1 class="navbar-brand" href="index.html"><u>Guitar Tabs</u></h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a href="/">
				<button class="btn btn-primary">Home</button>
			</a>
		</div>
	</nav>
	<br>
	<h2 style="Text-align: center;"><u>Evangalion: A cruel Angel's thesis</u></h2>
	<h3 style="Text-align: center;">(Guitar Tabs)</h3>
	<br>
	<div class="container">
		<img src="static/assets/tab1.jpg" alt="tab1">
		<img src="static/assets/tab2.jpg" alt="tab2">
		<img src="static/assets/tab3.jpg" alt="tab3">
		<img src="static/assets/tab4.jpg" alt="tab4">
		<img src="static/assets/tab3.jpg" alt="tab5">
		<img src="static/assets/tab5.jpg" alt="tab6">
		<img src="static/assets/tab6.jpg" alt="tab7">
		<img src="static/assets/tab7.jpg" alt="tab8">
		<img src="static/assets/tab8.jpg" alt="tab9">
		<img src="static/assets/tab9.jpg" alt="tab10">
		<img src="static/assets/tab10.jpg" alt="tab11">
	</div>

	<div class="container" style="text-align: center;">
		<hr>
		<a href="https://discord.com/invite/Y2Ppm3Kx" target="_blank">
			<span class="iconify" data-icon="simple-icons:discord" data-inline="false" width="3%" height="3%"></span>
		</a>
		
		&emsp;
		<a href="https://www.youtube.com/channel/UCnhnTYP5uUPZqGeE1dTnKUg" target="_blank">
			<img src="static/assets/youtube.png" alt="youtube" width="3%" height="3%">
		</a>
		&emsp;
		<a href="https://www.reddit.com/user/BhupenSaini" target="_blank">
			<img src="static/assets/reddit.png" alt="reddit" width="3%" height="3%">
		</a>
		&emsp;
		<a href="https://github.com/Bhupensaini" target="_blank">
			<img src="static/assets/github.png" alt="github" width="3%" height="3%">
		</a>
	</div>	

	<br>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>
</html>