<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<link rel="stylesheet" href="style.css">
	<title>Bhupen Saini - Guitarist</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<h1 class="navbar-brand" href="index.html"><u>Bhupen Saini</u></h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a href="/tabs">
				<button class="btn btn-primary">Tabs</button>
			</a>
		</div>
	</nav>

	<br>
	<br>

	<h4 style="Text-align: center;Text-botton:10px double orange;">Hi! My name is Bhupen Saini, and I am a guitarist. <br>At this website you will get the tabs of the songs I have played on guitar. <br><br>If you are a beginner it will be easy for you to learn.</h4>

	<br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br>
	


	<div class="container" style="text-align: center;">
		<hr>
		<a href="https://discord.com/invite/Y2Ppm3Kx" target="_blank">
			<span class="iconify" data-icon="simple-icons:discord" data-inline="false" width="3%" height="3%"></span>
		</a>
		&emsp;
		<a href="https://www.youtube.com/channel/UCnhnTYP5uUPZqGeE1dTnKUg" target="_blank">
			<img src="static/assets/youtube.png" alt="youtube" width="3%" height="3%">
		</a>
		&emsp;
		<a href="https://www.reddit.com/user/BhupenSaini" target="_blank">
			<img src="static/assets/reddit.png" alt="reddit" width="3%" height="3%">
		</a>
		&emsp;
		<a href="https://github.com/Bhupensaini" target="_blank">
			<img src="static/assets/github.png" alt="github" width="3%" height="3%">
		</a>
	</div>


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>
</html>