<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<title>Bhupen Saini - Guitarist</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html" style="text-align: center;"><u>Bhupen Saini</u></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a href="/">
				<button class="btn btn-primary">Home</button>
			</a>
		</div>
	</nav>

	<br>

	

	<br>
	<div class="container">
		<div class="card" style="width: 18rem;">
			<img src="static/assets/evangelion.png" class="card-img-top" alt="anime">
			<div class="card-body">
				<h5 class="card-title"><u>Evangalion: A Cruel Angel's Thesis (Guitar Tabs)</u></h5>
				<p class="card-text">Evangalion: A Cruel Angels Thesis op guitar tabs. These tabs are the same that I played in my video.</p>
				
				<a href="https://www.youtube.com/watch?v=3-HqpwYrIOU" target="_blank"><i><b>Watch My Youtube Video
				</b></i></a>
				<p></p>				
				<a href="/evangalion" class="btn btn-primary">Go To Tabs</a>
			</div>
		</div>
	</div>


	<br><br>

	<div class="container" style="text-align: center;">
		<hr>
		<a href="https://discord.com/invite/Y2Ppm3Kx" target="_blank">
			<span class="iconify" data-icon="simple-icons:discord" data-inline="false" width="3%" height="3%"></span>
		</a>
		&emsp;
		<a href="https://www.youtube.com/channel/UCnhnTYP5uUPZqGeE1dTnKUg" target="_blank">
			<img src="static/assets/youtube.png" alt="youtube" width="3%" height="3%">
		</a>
		&emsp;
		<a href="https://www.reddit.com/user/BhupenSaini" target="_blank">
			<img src="static/assets/reddit.png" alt="reddit" width="3%" height="3%">
		</a>
		&emsp;
		<a href="https://github.com/Bhupensaini" target="_blank">
			<img src="static/assets/github.png" alt="github" width="3%" height="3%">
		</a>
	</div>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</body>
</html>